tr {
    th:nth-child(3) {
        width: 10%;
    }
}

button.action {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #6d6d6d;
    background-color: transparent;
    margin-right: 5px;
    height: 26px;
    width: 26px;

    i {
        vertical-align: text-top;
    }

    &.danger_color{
        color: red;
        border-color: red;
    }
}