<app-search-cat></app-search-cat>
<button nz-button nzType="primary" nzGhost (click)="addCatsModal()" style=" float: right;">
  <span>Add new cat</span>
</button>
<br />
<br />
<nz-table #sortTable [nzData]="cats" nzTableLayout="fixed">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{
        column.title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of sortTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.breed }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.addDate }}</td>
      <td>{{ data.updateDate }}</td>
      <td>
        <button class="action"><i nz-icon nzType="eye" nzTheme="outline" nzGhost (click)="viewCatsModal()" ></i></button>
        <button class="action"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
        <button class="action danger_color"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
      </td>
    </tr>
  </tbody>
</nz-table>